.imageCSS{
  width: 200px;
  height: 300px;
  background-color: #DAD9D9;
  border-radius: 12px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.imgDes {
  display: none;
  width: 0px;
  color: black;
  border-radius: 12px;

  justify-content: center;
  position: absolute;
  height: 350px;
  padding: 0px 20px;
  background: rgba(11, 37, 229, 0.3);
  font-size: 17pt;

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.imgDes > div {
  border-radius: 3px;
  margin-bottom: 10px; 
  color: #ffffff; 
}
.navigationIcon {
  background-image:url('../asset/arrow_circle_down-24px.svg');
  transform: rotate(-90deg);
}

/*hover css to enlighten the focused content */
.poster:hover .imageCSS {
  width: 250px;
  height: 350px;
  opacity: 0.4;
}
.poster:hover .imgDes {
  display: flex;
  width: 208px;
}
