/* Popup display with transition */
#movieDetail.mainContent{
  align-items: center;
  height: 100vh;
  display: none;
  transition: width 2s;
}
.displayBlock{
  width: 100vw;
  display: flex!important;
}
/* Close Icon */
.closeBtn{
  position: absolute;
  top: 0px;
  font-size: 45px;
  right: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
/* Content CSS */
.Details{
  width: 75%;
}
.Details > div {
  display: flex;
  margin-bottom: 10px;
}
.label {
  width: 12%;
  font-weight: bolder;
}
.name {
  width: 75%;
}
