.logo {
  /* width: 98%; */
  width: 10%;
  height: 38px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 18px 15px;
}
.logo > div {
  background-image: url('../asset/ediflo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 100px;
}
.searchBar {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.inputBox {
  padding: 10px 0px 0px 0px;
  border-bottom: 1px solid ;
}
/* button CSS*/
.btn {
  padding: 7px 25px 7px 25px;
  cursor: context-menu;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #0B25E5;
  color: #FFFFFF
}
.btn:active, .sortIcon:active{
  transform: translateY(4px);
}
.dropDownDiv {
  position: relative;
}
.dropDownDiv .display-flex {
  position: absolute;
  width: 170px;
  align-items: normal;
  background-color: #F2F2F2 ;
  cursor: context-menu;
  border-radius: 10px;
}
.options > div:first-child{
  border-bottom: 1px solid #dad9d9;

}
.options > div:hover {
  background-color: #dad9d9 ;
  border-radius: 10px;
}
.dropDownDiv .options > span {
  color: #0B25E5
}
.options > div {
  text-align: right;
  padding: 5px;
}
.sortIcon{
  background-image: url('../asset/filter_list-24px.svg');
  width: 44px;
  height: 36px;
  margin-left: 10px;
}
.Ascending {
  transform: rotate(180deg);
}